BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/obj/Debug/Belatrix_Net_ProfOfConsept_UniTest.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/obj/Debug/Belatrix_Net_ProfOfConsept_UniTest.dll
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/obj/Debug/Belatrix_Net_ProfOfConsept_UniTest.csprojAssemblyReference.cache
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/obj/Debug/Belatrix_Net_ProfOfConsept_UniTest.csproj.FileListAbsolute.txt
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/obj/Debug/Belatrix_Net_ProfOfConsept_UniTest.csproj.CoreCompileInputs.cache
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/bin/Debug/Belatrix_Net_ProfOfConsept_UniTest.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/bin/Debug/Belatrix_Net_ProfOfConsept_UniTest.dll
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/bin/Debug/Belatrix_Net_ProfOfConsept.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/bin/Debug/Belatrix_Net_ProfOfConsept.dll
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/bin/Debug/Belatrix_DataAccess.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept_UniTest/bin/Debug/Belatrix_DataAccess.dll
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/project.assets.json
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.dll
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.csprojAssemblyReference.cache
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.csproj.FileListAbsolute.txt
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.csproj.CoreCompileInputs.cache
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.assets.cache
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Belatrix_Net_ProfOfConsept.csproj.nuget.g.props
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/obj/Belatrix_Net_ProfOfConsept.csproj.nuget.cache
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/bin/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/bin/Debug/netstandard2.0/Belatrix_Net_ProfOfConsept.dll
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/bin/Debug/netstandard2.0/Belatrix_DataAccess.pdb
BelatrixNetProfOfConsept/Belatrix_Net_ProfOfConsept/bin/Debug/netstandard2.0/Belatrix_DataAccess.dll
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/project.assets.json
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/Debug/netstandard2.0/Belatrix_DataAccess.pdb
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/Debug/netstandard2.0/Belatrix_DataAccess.dll
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/Debug/netstandard2.0/Belatrix_DataAccess.csproj.FileListAbsolute.txt
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/Debug/netstandard2.0/Belatrix_DataAccess.assets.cache
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/Belatrix_DataAccess.csproj.nuget.g.props
BelatrixNetProfOfConsept/Belatrix_DataAccess/obj/Belatrix_DataAccess.csproj.nuget.cache
BelatrixNetProfOfConsept/Belatrix_DataAccess/bin/Debug/netstandard2.0/Belatrix_DataAccess.pdb
BelatrixNetProfOfConsept/Belatrix_DataAccess/bin/Debug/netstandard2.0/Belatrix_DataAccess.dll
BelatrixNetProfOfConsept/.vs/BelatrixNetProfOfConsept/v15/Server/sqlite3/storage.ide-shm
